{% extends "base.html" %}

{% load staticfiles %}

{% block include_css %}
<link href="{% static "css/home.css" %}" rel="stylesheet">
{% endblock %}

{% block title %}WORDLIFE{% endblock %}
{% block content %}
<div class="hinh">
	<img src="{% static "image/background.jpg" %}">
</div>
<div class="textlist">
	{% if wordlists %}
		<ul>
			{% for wordlist in wordlists %}
				<li><a href="/list/{{ wordlist.id }}">{{ wordlist.listName }}</a></li>
			{% endfor %}
		</ul>
	{% endif %}
</div>
{% endblock %}