{% extends "base.html" %}

{% load staticfiles %}

{% block include_css %}
<link href="{% static "css/dst.css" %}" rel="stylesheet">
{% endblock %}

{% block title %}Danh sách từ{% endblock %}
{% block content %}
{% load bootstrap3 %}
<div class="container">
  <div class="name_bar">
        <div class="edit_bar">
            <ul>
                <li>
                    <span class=""></span>
                </li>
                <li>
                    <span class="glyphicon glyphicon-edit"></span>
                </li>
                <li>
                    <span class="glyphicon glyphicon-"></span>
                </li>
                <li>
                    <span class="glyphicon glyphicon-plus"></span>
                </li>
            </ul>
        </div>
        <div class="name_desc">
            <div class="listname">
                {{ wordlist.listName }}
            </div>
            <div class="listdesc">
                {{ wordlist.listDescription }}
            </div>
        </div>
    </div>
    <div class="words">
        {% if wordlist.words.all %}
            <ul>
                {% for word in wordlist.words.all %}
                    <li>
                        <div class="card">
                            <p>{{ word.word }}</p>
                        </div>
                        <div align="middle" class="image">
                            <img src="{{ imagepath }}{{ word.photo }}" />
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
{% endblock %}