{% extends "base.html" %}

{% load staticfiles %}


{% block include_css %}
<link href="{% static "css/dstmain.css" %}" rel="stylesheet">
{% endblock %}

{% block include_js %}
<script type="text/javascript" src="{% static "js/dstmain.js" %}"></script>
{% endblock %}

{% block title %}{% endblock %}
{% block content %}
<div class='addbox'>
    <span class="glyphicon glyphicon-plus-sign"></span>
</div>
<div class='removebox'>
    <span class="glyphicon glyphicon-minus-sign"></span>
</div>
<div class="container">
    <ul>
        {% if wordlists %}
        {% for wordlist in wordlists %}
            <li data-id="{{ wordlist.id }}">
                <div class="name_bar">
                    <div class="name_desc">
                        <div class="listname">
                            {{ wordlist.listName }}
                        </div>
                        <div class="listdesc">
                            {{ wordlist.listDescription }}
                        </div>
                    </div>
                    <span class="glyphicon glyphicon-folder-open"></span>
                    <span class="glyphicon glyphicon-pencil"></span>
                </div>
            </li>
        {% endfor %}
        {% endif %}
    </ul>
</div>
{% endblock %}